.header-container {
  position: absolute;
  width: 100%;
  background-color: #505050;
  height: 34px;
  padding: 8px;
  top: 0;
  left: 0; }

.logo-header {
  float: left;
  width: 200px;
  height: 34px;
  margin-left: 224px;
  background-image: url("../gallery/main-logo-in-letters.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.search-opt {
  float: left;
  margin-left: 75px;
  width: 480px; }

.search-quick {
  position: relative;
  float: left;
  background-color: #303030;
  border-radius: 5px; }
  .search-quick input[type=text] {
    border: 0;
    background-color: inherit;
    border-radius: inherit;
    width: 280px;
    color: #aaaaaa;
    height: 34px;
    font-size: 12px;
    outline: none;
    padding-left: 12px; }
    .search-quick input[type=text]:focus {
      background-color: #fff; }
  .search-quick .close-icon {
    position: absolute;
    width: 25px;
    background-color: transparent;
    outline: none;
    border: 0;
    background-image: url("../gallery/search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    top: 10px;
    right: 5px;
    cursor: pointer; }

.button-detail-search {
  float: left;
  height: 34px;
  padding: 10px 0px 0px 6px; }
  .button-detail-search a {
    text-decoration: none;
    color: #ddd;
    display: block; }

.content-wrapper {
  width: 1000px;
  color: cadetblue;
  height: 1200px;
  border: 3px solid red; }

