$header-height: 32px;
$bgColor: #505050;
$titleBgColor: rgba(10,55,155,0.03);
$divBorder: 1px solid #ccc;
$linkColor:rgb(7, 15, 172);

body {
    font: 12px Helvetica;
    color: #909090;
}

/*#region header*/
.header-container {
    position: absolute;
    width: 100%;
    background-color: $bgColor;
    height: $header-height;
    padding: 8px 0px;
    top: 0;
    left: 0;
}

.header-wrapper {
    width: 980px;
    margin: 0 auto;
    height: $header-height;
}

/*#region Header Logo */
.logo-header {
    float: left;
    width: 240px;
    height: $header-height;
    margin-left: 40px;
    background-image: url('../gallery/main-logo-in-letters.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
/*#endregion */

/*#region Search */
.search-opt {
    float: left;
    width: 400px;
}


.search-quick {
    position: relative;
    float: left;
    background-color: #303030;
    border-radius: 5px;

    input[type=text] {
        border: 0;
        background-color: inherit;
        border-radius: inherit;
        width: 220px;
        color: #aaaaaa;
        height: $header-height;
        font: 10px helvetica;
        outline: none;
        padding-left: 12px;

        &:focus {
            background-color: #fff;
        }
    }

    .close-icon {
        position: absolute;
        width: 25px;
        background-color: transparent;
        outline: none;
        border: 0;
        background-image: url('../gallery/search-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        top: 10px;
        right: 5px;
        cursor: pointer;
    }
}

.button-detail-search {
    float: left;
    height: $header-height;
    padding: 10px 0px 0px 6px;

    a {
        text-decoration: none;
        color: #ddd;
        display: block;
        font: 10px helvetica;
    }
}
/*#endregion Search */

/*#region UserPanel */
.headerUserPanel {
    float: right;
    margin-top: -4px;
    width: 240px;
    height: $header-height;
    padding-top: 10px;
    font: 10px helvetica;
    color: #aaaaaa;
}

.log, .sign {
    padding: 4px;
    float: right;
    border-right: 2px groove black;
    cursor: pointer;
}

.log {
    width: 50px;
}

.sign {
    width: 40px;
}

.adButton {
    padding-left: 8px;
    margin-top: -4px;
    float: right;
    width: 120px;

    button {
        height: 25px;
        outline: none;
        border-radius: 3px;
        border: 0;
        font: bold 10px Helvetica;
        color: white;
        background-color: #00aaff;
        cursor: pointer;
    }
}

/*#endregion User Panel */

/*#endregion*/

/*#region Main*/
.content-wrapper {
    width: 910px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom:20px;
}

.mainContent {
    float: left;
    width: 670px;
    margin-left: 10px;
    margin-top: 10px;
}

.headBanner-wrapper {
    float: left;
    width: 100%;
    height: 210px;

    .bannerItem1 {
        float: left;
        width: 400px;
        height: 100%;
        border: $divBorder;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .bannerItem2 {
        border: $divBorder;
        float: right;
        width: 260px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}

.horizontalBanner {
    float: left;
    width: 100%;
    height: 70px;
    border: $divBorder;
    margin-top: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.frontItemList {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: $divBorder;
}

.frontItem {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 0px 0px 10px;
    text-align: center;


    img {
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        object-fit: contain;
        border: $divBorder;
    }

    a{
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width:80px;
        float:left;
        font:12px Helvetica;
        margin:0 10px;
        color:$linkColor;
        &:hover{
            text-decoration:underline;
        }
     }

    
       
}

.projectExamples {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: $divBorder;

    .eachItem{
        width:300px;
        margin:15px;
        float:left;

        img{
            width:100%;
            height:140px;
            object-fit:fill;
        }
        .subText{

            p:first-child{
                font-size:14px;
                font-weight:700;

                               
            }
            p{
                font:12px;
                color:$bgColor;
                span{
                     font-weight:700;
                }
            }
            
        }

       
    }
}


.dailyChance {
    margin-top:10px;
    float: left;
    width: 100%;
    border: $divBorder;
    padding:0;

    .eachItem:last-child{
        border:0;
        margin-right:0px;
    }
     
           
    .eachItem{
        position:relative;
        margin:0px 5px 0px 0px;
        float:left;
        padding:5px 0px;
        width:219px;
        border-right: $divBorder;
        text-align:center;
        .discount{
            position:absolute;
            top:0;
            right:5px;

            .box{
                float:left;   
                width:50px;
                height:40px;
                background:red;

            }

            .box-bottom{
                float:left;
                width:0px;
                height:0px;
                border-width:25px;
                border-color:red transparent transparent transparent;
                border-style:solid;
                transform:scaleY(0.4);
                margin-top:-15px;
            }
        }
        img{
            margin: 30px 40px;
            width:120px;
            height:100px;
            object-fit:fill;
        }
        a{
            color:$linkColor;
            font:12px Helvetica;
            width:150px;
            margin:0px 5px;
        }
        a:hover{
            text-decoration:underline;
        }
        span{
           float:left;
           color:indianred;
           font-size:20px;
           sup{
               vertical-align:super;
               font-size:60%;
           }
        }
    }
}

.weirdAds {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: $divBorder;
}

.popularItems {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: $divBorder;
    .eachItem{
        float:left;
        width:150px;
        text-align:center;
        margin:10px 0px 5px 15px;
        img{
            object-fit:contain;
            width:100%;
            height:100px;
        }
        a{
            color:$linkColor;
            font:12px Helvetica;
            width:150px;

        }
        a:hover{
            text-decoration:underline;
        }
    }
}

.mostSearch {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: $divBorder;


    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li:nth-child(4n) {
            border: 0;
        }

        li {
            width: 155px;
            float: left;
            padding: 6px 0px;
            border-right: $divBorder;
            margin: 0px 0px 0px 10px;

            a {
                text-decoration: none;
                font: 11px Helvetica;
                color: $bgColor;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    li::before {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        content: " ";
        margin: 0 10px 0 0;
        background: black;
    }
}

/*#region LeftBar*/
.leftBar {
    float: left;
    width: 230px;
    margin-top: 10px;
}

.category-wrapper {
    width: 100%;
    border: $divBorder;
    padding-bottom: 5px;
}

.bestForYou-wrapper {
    width: 100%;
    border: $divBorder;
    margin-top: 10px;
    padding-bottom: 5px;
}

.news-wrapper {
    width: 100%;
    border: $divBorder;
    margin-top: 10px;
    padding-bottom: 5px;

    p {
        padding: 5px;
        color: $linkColor;
        font-weight: 700;
    }
}

.subCat {
    clear: left;
    width: 100%;
    padding: 5px 0px;

    .iconItem {
        float: left;
        height: 15px;
        width: 15px;
        border: 0;
        margin: 0px 5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    a {
        text-decoration: none;
        font: 13px Helvetica;
        color: $linkColor;
        float: left;
        width: 180px;

        span {
            color: #505050;
            font: 10px Helvetica;
        }

        img {
            height: 15px;
            width: 15px;
            object-fit: fill;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    a.bold {
        font-weight: 700;
    }
}
/*#endregion */


.categoryTitle {
    float: left;
    padding: 2px 0px 2px 8px;
    box-sizing: border-box;
    width: 100%;
    font: 14px Helvetica;
    font-weight: 800;
    color: $bgColor;
    background-color: $titleBgColor;
    border-bottom: $divBorder;

    a {
        float: right;
        text-decoration: none;
        color: $linkColor;
        font-weight: 500;
        font-size: 12px;
        margin-right: 5px;
        padding-top: 4px;
    }
}

hr.separator {
    clear: both;
    height: 1px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #fff;
    margin: 18px 15px 0px 15px;
}

hr.projectSeparator {
    clear: both;
    height: 1px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #fff;

}



/*#endregion Main*/


/*#region Footer*/

.footer {
    float:left;
    width: 100%;
    background-color: white;
    height: 350px;
    box-shadow: $titleBgColor 0px -10px 200px 80px;
}

.footer-content {
    width: 910px;
    margin: 0 auto;
    height: 320px;
    padding: 25px 30px 0px 30px;
}

.footerTable {
    width: 100%;
    height: 160px;

    table {
        width: 100%;

        th {
            text-align: left;
            color: $bgColor;
            padding: 0px;
        }

        td {
            font: 12px Helvetica;
            color: #999999;
            padding: 4px 0px 0px 0px;

            i {
                padding: 0px 2px;
            }
        }
    }
}

.contact {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    .contactLeft {
        float: left;
        width: 500px;
        height: 100%;

        .perItem {
            float: left;
            width: 240px;
            padding-top: 10px;
            height: 100%;

            .taskImage {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $bgColor;
                text-align: center;
                padding-top: 5px;
                font-size: 20px;
                color: rgb(123,0,0);
                background-color: rgba(120,0,0,0.05);
            }

            .info-table {
                float: left;

                table {
                    width: 150px;

                    th {
                        text-align: left;
                        font: bold 12px Helvetica;
                        color: rgb(152, 15, 15);
                    }

                    td {
                        color: $bgColor;
                        font: bold 12px Helvetica;
                    }
                }
            }
        }
    }

    .contactRight {
        float: right;
        width: 240px;
        height: 100%;


        .appPlayStore {
            float: right;
            width: 80px;
            height: 100%;
            padding-top: 10px;
            padding-left: 10px;

            img {
                border-radius: 5px;
                width: 100%;
                height: 34px;
                object-fit: fill;
            }
        }
    }
}

.warning {
    width: 100%;
    height: 45px;
    border: 1px dashed #aaa;
    font: 12px Helvetica;
    color: $bgColor;
    padding: 3px 0px 3px 3px;
}

.copyRight {
    float: left;
    width: 100%;
    height: 30px;
    padding-top: 5px;

    .colmn-left {
        padding-top: 4px;
        float: left;
        width: 300px;
        height: 30px;
    }

    .colmn-right {
        padding-top: 4px;
        float: right;
        width: 280px;
        height: 30px;


        a {
            border-left: 1px solid $bgColor;
            padding-left: 10px;
            margin-left: 10px;
            float: right;
        }
    }
}
/*#endregion*/

