$header-height: 34px;
$bgColor: #505050;

body {
    background: linear-gradient(to bottom,#fff,#eee);
    font:12px Helvetica;
    color:#909090
}


.header-container {
    position: absolute;
    width: 100%;
    background-color: $bgColor;
    height: $header-height;
    padding:8px 0px;
    top: 0;
    left: 0;
}
.header-wrapper{
    width:1000px;
    margin:0 auto;
    height:$header-height;
    border:3px red solid;

}

/*#region Header Logo */
.logo-header {
    float: left;
    width: 200px;
    height: $header-height;
    background-image: url('../gallery/main-logo-in-letters.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
/*#endregion */

/*#region Search */
.search-opt {
    float: left;
    margin-left: 95px;
    width: 400px;
}


.search-quick {
    position: relative;
    float: left;
    background-color: #303030;
    border-radius: 5px;

    input[type=text] {
        border: 0;
        background-color: inherit;
        border-radius: inherit;
        width: 280px;
        color: #aaaaaa;
        height: $header-height;
        font: 12px helvetica;
        outline: none;
        padding-left: 12px;

        &:focus {
            background-color: #fff;
        }
    }

    .close-icon {
        position: absolute;
        width: 25px;
        background-color: transparent;
        outline: none;
        border: 0;
        background-image: url('../gallery/search-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        top: 10px;
        right: 5px;
        cursor: pointer;
    }
}

.button-detail-search {
    float: left;
    height: $header-height;
    padding: 10px 0px 0px 6px;

    a {
        text-decoration: none;
        color: #ddd;
        display: block;
        font: 12px helvetica;
    }
}
/*#endregion Search */

/*#region UserPanel */
.headerUserPanel {
    float: right;
    margin-top: -4px;
    width: 240px;
    height: $header-height;
    padding-top: 10px;
    font: 12px helvetica;
    color: #aaaaaa;
}

.log, .sign {
    padding: 4px;
    float: right;
    border-right: 2px groove black;
    cursor: pointer;
}

.log {
    width: 50px;
}

.sign {
    width: 40px;
}

.adButton {
    padding-left: 8px;
    margin-top: -4px;
    float: right;
    width: 120px;

    button {
        height: 30px;
        outline: none;
        border-radius: 3px;
        border: 0;
        font: bold 12px Helvetica;
        color: white;
        background-color: #00aaff;
        cursor: pointer;
    }
}

/*#endregion User Panel */


/*#region Main*/
.content-wrapper {
    width: 1000px;
    color: cadetblue;
    margin: 0 auto;
    height: 1200px;
    padding: 80px 10px 10px 0px;
    border: 3px solid red;
}

/*#endregion*/


/*#region Footer*/

.footer {
    position: absolute;
    clear: both;
    width: 100%;
    background-color: white;
    height: 350px;
    left: 0;
    padding: 0;
    margin: 0;
}

.footer-content {
    width: 1000px;
    margin: 0 auto;
    height: 320px;
    padding: 25px 30px 0px 30px;

}

.footerTable {
    width: 100%;
    height: 160px;

    table {
        width: 100%;

        th {
            text-align: left;
            color: $bgColor;
            padding: 0px;
        }

        td {
            font: 12px Helvetica;
            color: #999999;
            padding: 4px 0px 0px 0px;

            i {
                padding: 0px 2px;
            }
        }
    }
}

.contact {
    width: 100%;
    height: 60px;
    .contactLeft {
        float: left;
        width: 450px;
        height: 100%;

        .perItem {
            float: left;
            width: 200px;
            padding-top: 10px;
            height: 100%;

            .taskImage {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $bgColor;
                text-align:center;
                padding-top:5px;
                font-size:20px;
                color:rgb(123,0,0);
                background-color:rgba(120,0,0,0.05);       
               
            }

            .info-table {
                float: left;

                table {
                    width: 150px;

                    th {
                        text-align: left;
                        font: bold 12px Helvetica;
                        color: rgb(152, 15, 15);
                    }

                    td {
                        color: $bgColor;
                        font: bold 12px Helvetica;
                    }
                }
            }
        }
    }

    .contactRight {
        float: right;
        width: 240px;
        height: 100%;
        

        .appPlayStore {
            float: right;
            width: 100px;
            height: 100%;
            padding-top: 10px;
            padding-left: 10px;

            img {
                border-radius: 5px;
                width: 100%;
                height: 34px;
                object-fit: fill;
            }
        }
    }
}

.warning {
    width: 100%;
    height: 45px;
    border: 1px dashed #aaa;
    font: 12px Helvetica;
    color: $bgColor;
    padding: 3px 0px 3px 3px ;
}

.copyRight {
    float:left;
    width: 100%;
    height: 30px;
    padding-top:5px;
  
    .colmn-left {
        padding-top:4px;
        float: left;
        width: 300px;
        height: 30px;

    }

    .colmn-right {
        padding-top:4px;
        float: right;
        width: 280px;
        height: 30px;
    
        
        a{
            border-left:1px solid $bgColor;
            padding-left:10px;
            margin-left:10px;
            float:right;
        }
    }
}
/*#endregion*/

